html {
    background: #000;
}

h1 {
    /* Las siguientes propiedades definen el fondo del área del título como un degradado. */
    background: #ccc;
    /* Este degradado puede ser cualquier tipo */
    /* background: radial-gradient(#eff1ff, #000); */
    background: linear-gradient(90deg, #007cf0, #00dfd8);
    font-family: monospace;
    font-size: 6rem;
    background-clip: text; /* Recomendado por el debugger */

    /* esta propiedad hace que el texto sea transparente o igual al fondo */
    -webkit-text-fill-color: transparent;
    /* Esta propiedad define que el degradado se aplica solo a las letras */
    -webkit-background-clip: text;
}