.card-image {
    width: 100%;
}
.card-content {
    padding: 0 25px 10px 25px;
}
.card {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
#personCard {
    width: fit-content;
    margin: 0 auto;
}