@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #111;
    font-family: "Nunito", sans-serif;
    color: white;
}

.container {
    position: absolute;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
}

.box {
    min-width: 400px;
    background: #222;
    border-radius: 38px;
    text-align: center;
    position: relative;
    margin-bottom: 150px;
}

.box::before {
    content: "";
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    z-index: -1;
}

h1 {
    font-weight: bold;
    font-size: 36px;
    padding: 30px 0;
}

.content {
    padding: 0 40px;
}

.input {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 0px 95px -30px rgba(0, 0, 0, 0.15);
    border-radius: 28px;
    padding: 20px 0;
    margin-bottom: 20px;
}

.input label {
    display: block;
    font-size: 18px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.input input {
    outline: none;
    border: none;
    border-bottom: 1px solid red;
    width: 60%;
    text-align: center;
    font-size: 28px;
    font-family: "Nunito", sans-serif;
    background: #666;
}

button#calculate {
    font-family: "Nunito", sans-serif;
    color: #fff;
    background: tomato;
    font-size: 16px;
    border-radius: 12px;
    padding: 12px 0;
    width: 100%;
    outline: none;
    border: none;
    transition: background 0.2s ease;
}

button#calculate:hover {
    background: red;
}

.result {
    padding: 30px 20px;
}

.result p {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
}

.result #result {
    font-size: 36px;
    font-weight: 800;
    color: red;
    background-color: #666;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 55px;
    margin-bottom: 15px;
}